.about-section {
	background-color: rgb(247, 247, 247);
	padding: 6rem 2rem;

	&__container {
		max-width: 80rem;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		h2 {
			font-size: 3rem;
			margin-right: 3rem;
			@include md {
				font-size: 4rem;
			}
		}

		span {
			font-size: 4rem;
			text-decoration: underline;
			text-decoration-color: var(--secondary-orange);
			@include md {
				font-size: 5rem;
			}
		}
		img {
			width: 12rem;
			height: 12rem;
			border-radius: 10rem;
		}
	}

	&__content {
		font-size: 2rem;
		margin-top: 2rem;
	}
}