header {
	margin: 0 auto;
    height: 90vh;
    background-color: #2f81ed;
    // background-image: linear-gradient(to top, #56ccf2, #25bbf5, #00a9f6, #0096f4, #2f80ed);
	// This is to compensate for the fixed navbar
	// padding-top: 10rem;
    display: flex;
    align-items: center;
}

.header-container {
    text-align: center;
    color: #f5f5f5;

    .header-text {
        max-width: 40rem;
        @include sm {
            max-width: 52.7rem;
        }

        &__title {
            font-size: 2.7rem;
            line-height: 1;
            @include sm {
                font-size: 4rem;
            }

            h1 {
                margin: 3rem 0;
            }
        }

        &__buttons {
            margin: 3rem 0;
        }
    }
}
