//HEADER//

header {
	margin: 0 auto;
    height: 80vh;
    background-color: var(--primary-blue);
    // background-image: linear-gradient(to top, #56ccf2, #25bbf5, #00a9f6, #0096f4, #2f80ed);
	// This is to compensate for the fixed navbar
	// padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm {
        height: 90vh;
    }
}

.header-container {
    text-align: center;
    color: #f5f5f5;
    
    span {
        font-style: italic;
        color: var(--secondary-orange);
    }

    .header-text {
        max-width: 50rem;
        @include sm {
            max-width: 70rem;
        }

        &__title {
            font-size: 2.7rem;
            line-height: 1;
            @include sm {
                font-size: 3rem;
            }

            h1 {
                margin: 3rem 0;
            }
        }

        &__paragraph p {
            margin: 3rem 0;
            padding-bottom: 1.6rem;
        }

        &__buttons {
            margin: 3rem 0;
        }
    }
}

//PORTFOLIO SECTION//@include

.index-portfolio {
    background-color: white;
    
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
        grid-gap: 5rem;
        padding: 3rem 1rem;
        max-width: 160rem;
        @include sm {
            padding: 5rem 10rem;
            grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
        }
    }
}

//SERVICES//@include

.index-services {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 3rem 0rem;
        max-width: 120rem;

        @include sm {
            padding: 5rem 0rem;
        }
    }
}

//CONTACT//@include

.index-contact {
    .container {
        max-width: 100rem;
        padding: 5rem 0;
    }
}